# Ignore everything
*

# But not these files
!.gitignore
!CUB
!CUB/wegeft/
!CUB/wegeft/final/
!CUB/wegeft/final/final/

CUB/*/*/*/*
!CUB/wegeft/final/final/last.pth.tar

!nabirds
!nabirds/wegeft/
!nabirds/wegeft/final/
!nabirds/wegeft/final/final/

nabirds/*/*/*/*
!nabirds/wegeft/final/final/last.pth.tar

!StanfordCars
!StanfordCars/wegeft/
!StanfordCars/wegeft/final/
!StanfordCars/wegeft/final/final/

StanfordCars/*/*/*/*
!StanfordCars/wegeft/final/final/last.pth.tar

!StanfordDogs
!StanfordDogs/wegeft/
!StanfordDogs/wegeft/final/
!StanfordDogs/wegeft/final/final/

StanfordDogs/*/*/*/*
!StanfordDogs/wegeft/final/final/last.pth.tar

!OxfordFlowers
!OxfordFlowers/wegeft/
!OxfordFlowers/wegeft/final/
!OxfordFlowers/wegeft/final/final/

OxfordFlowers/*/*/*/*
!OxfordFlowers/wegeft/final/final/last.pth.tar
